*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: black;
    color: #fff;
}

#header{
    min-height: 100vh;
    background-image: url(/image/background\ \(1\).jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
}

.container{
    padding: 10px 10%;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
}

.nav-link{
    display: flex;
    gap: 35px;
    margin-left: auto;
}

.nav-link a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.nav-link a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-link a:hover::after{
    width: 100%;
}
